/*
*= require_self
*= require mountain_view
*= require mountain_view/prism
*/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/* HEADER */
.mv-header{
  background: #777;
  padding: 20px;
}

.mv--black-background{
    background: #000;
    padding: 10px;
}

.mv-header__logo{
  font-weight: bold;
  color: white;
  font-size: 20px;
}

/* FlEX WRAPPER */

.mv-flex-wrapper{
  display: flex;
}

/* SIDEBAR */
.mv-sidebar{
  background: #F7F7F7;
  width: 18%;
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 30px 20px;
  flex:1;
  min-height: 100vh;
}

.mv-sidebar h3{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 25px;
  color: #444;
}

.mv-sidebar ul{
}

.mv-sidebar ul li{
  margin-bottom: 20px;
  font-size: 14px;
}

.mv-sidebar ul li a{
  color: #555;
  text-decoration: none;
  font-weight: 300;
}

.mv-sidebar ul li a:hover{
  color: #000;
}

/* MAIN */
.mv-main{
  box-sizing: border-box;
  width: 82%;
  float: left;
  padding: 30px 60px;
}
.mv-main__header{
  margin-bottom: 40px;
}

.mv-main__header h1{
  font-weight: 100;
  font-size: 55px;
  color: #333;
}

.mv-main__description {
}

/* COMPONENT */
.mv-component{
  margin-bottom: 150px;
}

.mv-component__item{
}

.mv-component__meta{
  padding: 25px;
  margin-bottom: 20px;
  background: #F7F7F7;
  border: 1px solid #E4E4E4;
}

.mv-component__meta p{
  color: #000;
}

.mv-component__description{
  padding: 25px;
  background: #F7F7F7;
  border: 1px solid #E4E4E4;
  margin-top: 30px;
}

.mv-component__description h2{
  font-weight: bold;
  margin-bottom: 20px;
}

.mv-component__description__definition{
  margin-bottom: 20px;
}

.mv-component__description__definition code,
.mv-component__description__properties code {
  background: none !important;
  font-size: 14px;
}

.mv-component__description__properties{
  background: #fff !important;
  border: 1px solid #e4e4e4;
  max-height: 230px;
  overflow: auto;
  font-size: 13px;
  padding: 30px 20px;
}


/* HINT */
.mv-hint{
  margin: 40px 0;
  padding: 30px;
  font-size: 14px;
  border-top: 2px solid #FCCC37;
  color: #777;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.mv-hint h2{
  font-size: 19px;
  margin-bottom: 20px;
  color: #000;
}
.mv-hint h2 span{
  color: #FCCC37;
  margin-right: 5px;
  font-weight: bold;
}

.mv-hint ul{
  list-style-type: disc;
  margin-left: 15px;
}
.mv-hint ul li{
  margin-bottom: 10px;
  line-height: 1.5;
}

.mv-hint pre{
  background: #F5F5F5;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Courier New', 'Courier';
  font-weight: 600;
  color: #444;
}

.mv-hint strong{
  font-weight: bold;
}
