.card{
  max-width: 300px;
  box-sizing: border-box;
  background: #FFF;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

.card--no-img{
  padding: 20px;
}

.card__image img{
  border-radius: 4px 4px 0 0;
  max-width: 100%;
}

.card__content{
  padding: 16px;
}


.card__content__title{
  font-size: 17px;
  margin:0;
  line-height: 1;
  color:#1D7657;
  font-weight: bold;
  margin-bottom: 10px;
}

.card__content__title a{
  color:#1D7657;
  font-size: 17px;
  margin: 0 0 5px 0;
  line-height: 1;
  text-decoration: none;
}

.card__content__title a:hover{
  color:#0B4A34;
}

.card__content p{
  color: #B2B2B2;
  margin: 0;
  font-size: 13px;
  line-height: 1.5;
}


.card__content__data{
  padding: 10px 0;
}

.card__content__data dl{
  display: inline-block;
  width: 32%;
}

.card__content__data dl dt{
  font-size: 20px;
  margin-bottom: 6px;
  color: #bbb;
}

.card__content__data dl dd{
  text-transform: uppercase;
  font-size: 11px;
  color: #888;
  font-weight: bold;
}
