<div class="mv-main__header">
  <h1>Styleguide</h1>
</div>

<% if mv_components.any? %>
  <div class="mv-main__description">
    Select one of the components from the side to view its examples and documentation.
  </div>
<% else %>
  <div class="mv-hint">
    <h2><span>Hint:</span>You haven't created any components yet</h2>
    <ul>
      <li>
        You can generate your first component by running:
        <br>
        <pre>rails generate mountain_view:component component-name</pre>
      </li>
      <li>
        Or manually create the following files:
        <br>
        <pre>
app/
  components/
    header/
      _header.html.erb
      header.css
      header.js
      header.yml
        </pre>
      </li>
    </ul>
  </div>
<% end %>


